name: build
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sast_scan:
    name: Run Static Code Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.28.0
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:2
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'
      
      - name: Upload SAST Scan Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: trivy-sast-results
          path: trivy-results.sarif
      
  image_scan:
    name: Build Image and Run Image Scan
    runs-on: ubuntu-latest
    needs: sast_scan
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Build Docker Image
        run: docker build -f Dockerfile -t pygoat_app:latest .
    
      - name: Run Trivy vulnerability scanner on Docker image
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: 'pygoat_app:latest'
          format: 'sarif'
          output: 'trivy-image-results.sarif'
          severity: 'CRITICAL,HIGH'
    
      - name: Upload Image Scan Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: trivy-image-scan-results
          path: trivy-image-results.sarif
        with:
          name: docker-scout-findings
          path: scout-report.sarif
